Repository jongmin-chung/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: shadcn/ui init
  .lintstagedrc.json
  components.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/lib/utils.ts
Due: eslint --fix, prettier --write

feat: shadcn/ui add card
  src/app/page.tsx
  src/components/ui/card.tsx
Due: eslint --fix

feat: Layout UI 마크업
  src/app/page.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
Due: eslint --fix

feat: Link 페이지 이동
  src/app/about/page.tsx
  src/app/blog/page.tsx
  src/components/layout/Header.tsx
Due: eslint --fix

feat: root layout
  src/app/about/page.tsx
  src/app/blog/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/layout/Header.tsx
Due: eslint --fix

feat: about ui
  src/app/about/layout.tsx
  src/app/about/projects/page.tsx
  src/app/about/skills/page.tsx
  src/lib/lucide-react/Github.tsx
Due: eslint --fix

feat: blog post ui
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/page.tsx
  src/components/layout/Header.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/separator.tsx
Due: eslint --fix, prettier --write

feat: docs ui catch all segment
  src/app/docs/[[...slug]]/page.tsx
  src/app/docs/layout.tsx
Due: eslint --fix

feat: Root 페이지
  src/app/page.tsx
Due: eslint --fix

feat: 태그 목록 UI
  src/app/page.tsx
Due: eslint --fix

feat: 프로필 UI
  public/images/profile-light.png
  src/app/page.tsx
  src/lib/lucide-react/Gitlab.tsx
Due: eslint --fix

feat: 전역 컨테이너 설정
  src/app/about/layout.tsx
  src/app/about/page.tsx
  src/app/about/projects/page.tsx
  src/app/about/skills/page.tsx
  src/app/blog/page.tsx
  src/app/docs/[[...slug]]/page.tsx
  src/app/docs/layout.tsx
  src/app/globals.css
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: PostCard Component
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/components/features/blog/PostCard.tsx
  src/components/ui/select.tsx
  src/types/notion.ts
Due: eslint --fix, prettier --write

feat: Select UI
  src/app/page.tsx
Due: eslint --fix

feat: Private Folder Section Component
  src/app/_components/ProfileSection.tsx
  src/app/_components/TagSection.tsx
  src/app/page.tsx
  src/types/notion.ts
Due: eslint --fix

feat: 블로그 상세 마크업
  src/app/blog/[slug]/page.tsx
Due: eslint --fix

feat: 블로그 ToC Global Sticky
  src/app/blog/[slug]/page.tsx
  src/app/globals.css
  src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

feat: 블로그 DTO Interface 변경
  src/app/_components/TagSection.tsx
  src/app/page.tsx
  src/components/features/blog/PostCard.tsx
  src/types/blog.ts
Due: eslint --fix

feat: 블로그 목록 API 연결
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/lib/notion.ts
Due: eslint --fix, prettier --write

feat: 태그 목록 API 연결
  src/app/page.tsx
  src/lib/notion.ts
Due: eslint --fix

feat: 태그 필터 연결
  src/app/_components/TagSection.tsx
  src/app/page.tsx
  src/lib/notion.ts
Due: eslint --fix

feat: 블로그 본문 MDX
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/globals.css
  src/components/features/blog/PostCard.tsx
  src/lib/date.ts
  src/lib/notion.ts
  src/mdx-components.tsx
Due: eslint --fix, prettier --write

chore: printWidth 수정
  .prettierrc
Due: none

feat: remark-gfm
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/mdx-page/page.mdx
Due: eslint --fix, prettier --write

feat: 목차 구현 및 MDX Compoent 고도화
  mdx.config.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat: 정렬 기능 추가
  src/app/_components/client/SortSelect.tsx
  src/app/page.tsx
  src/lib/notion.ts
Due: eslint --fix

feat: Image priority LCP 적용
  src/app/page.tsx
  src/components/features/blog/PostCard.tsx
Due: eslint --fix

feat: 블로그 메인 페이지
  src/app/_components/HeaderSection.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/components/features/blog/client/Posts.tsx
  src/lib/notion.ts
Due: eslint --fix

feat: 블로그 메인 페이지 로딩 페이지
  src/app/blog/loading.tsx
  src/components/ui/skeleton.tsx
Due: eslint --fix

feat: 블로그 상세 로딩 페이지
  src/app/blog/[slug]/loading.tsx
Due: eslint --fix

feat: 스켈레톤 UI Suspense 적용
  README.md
  src/app/_components/TagSection.tsx
  src/app/_components/TagSectionSkeleton.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/components/features/blog/PostsSkeleton.tsx
  src/components/features/blog/PostsSuspense.tsx
  src/components/features/blog/client/Posts.tsx
  src/lib/notion.ts
Due: eslint --fix, prettier --write

feat: 클라이언트 컴포넌트 use 키워드 사용 (suspense)
  src/app/_components/TagSection.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/components/features/blog/PostsSuspense.tsx
  src/lib/notion.ts
Due: eslint --fix

feat: 무한 스크롤 구현
  package.json
  pnpm-lock.yaml
  src/app/api/posts/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/components/features/blog/PostsSuspense.tsx
  src/lib/notion.ts
Due: eslint --fix, prettier --write

feat: redirect 적용
  src/app/blog/page.tsx
Due: eslint --fix

feat: nextjs cache
  src/components/layout/Header.tsx
  src/lib/notion.ts
Due: eslint --fix

chore: react-query-tools 추가
  package.json
  pnpm-lock.yaml
  src/app/providers.tsx
Due: eslint --fix, prettier --write

feat: revalidate api 추가
  src/app/api/revalidate/route.ts
  src/lib/notion.ts
Due: eslint --fix

feat: Utterances
  src/app/blog/[slug]/page.tsx
  src/components/Utterances.tsx
Due: eslint --fix

feat: dart mode 적용
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/Utterances.tsx
  src/components/features/blog/PostCard.tsx
  src/components/layout/Header.tsx
  src/components/theme/ThemeProvider.tsx
  src/components/theme/ThemeToggle.tsx
Due: eslint --fix, prettier --write

feat: 반응형 웹 적용
  src/app/blog/[slug]/loading.tsx
  src/app/blog/[slug]/page.tsx
  src/app/page.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,css,md}
